<!DOCTYPE html>
<html>
<head>
    <title>Change Username</title>
</head>
<body>
    <h1>Change Username</h1>
    <form action="/change_username" method="post">
        <label for="subject">Subject:</label>
        <select id="subject" name="subject" required>
            <option value="" disabled selected>Select subject</option>
            <option value="T1">Advanced Biofluid Engineering</option>
            <option value="T2">ICT Systems Design</option>
            <option value="T3T4">Electronic Circuits and Systems</option>
        </select>
        <label for="current_username">Current Username:</label>
        <input type="text" name="current_username" required><br>
        <label for="new_username">New Username:</label>
        <input type="text" name="new_username" required><br>
        <input type="submit" value="Change">
    </form>
</body>
</html>
