<!DOCTYPE html>
<html>
<head>
    <title>View Database</title>
</head>
<body>
    <h1>Class_info Table</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>subject</th>
            <th>username</th>
            <th>password</th>
            <th>email</th>
        </tr>
        {% for row in class_info_rows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Channel Table</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        {% for row in channel_rows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Message Table</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Channel ID</th>
            <th>User ID</th>
            <th>Content</th>
            <th>Created At</th>
        </tr>
        {% for row in message_rows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
